@{
  Layout="Shared/_Layout.cshtml";
}

<h1 class="well text-center">Let's Play Ping-Pong!</h1>
<h3 class="text-center">Please enter a number below to begin.</h3>
<form action="ping_pong" method="post" class="text-center">
  <label for="numInput">Enter a whole number 3 or greater:</label>
  <input id="numInput" name="numInput" type="number" min=3 required>
  <button class="btn btn-success" type="submit">Go!</button>
</form>
